<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="responsive.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <title>Document</title>
    </head>
    <body>
        <div id="blur"></div>
        <div class="bg__dark__blue">
            <div class="container">
                <header>
                    <a href="#">
                        <img src="img/logo.svg" alt="" />
                    </a>
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="has__dropdown">
                            <a href="services.html">Services</a>
                            <div class="dropdown__container">
                                <ul class="dropdown">
                                    <li><a href="#">TV Wall Mounting</a></li>
                                    <li>
                                        <a href="#">TV Dismount & Remount</a>
                                    </li>
                                    <li>
                                        <a href="#">TV Shelves Installation</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has__dropdown">
                            <a href="location.html">Locations</a>
                            <div class="dropdown__container">
                                <div>
                                    <h3>Washington</h3>
                                    <ul class="dropdown">
                                        <li><a href="#">Seattle</a></li>
                                        <li><a href="#">Bellevue</a></li>
                                        <li><a href="#">Redmond</a></li>
                                        <li><a href="#">Tacoma</a></li>
                                        <li><a href="#">Lakewood</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <h3>North Carolina</h3>
                                    <ul class="dropdown">
                                        <li><a href="#">Charlotte</a></li>
                                        <li><a href="#">Monroe</a></li>
                                        <li><a href="#">Indian Trail</a></li>
                                        <li><a href="#">Pineville</a></li>
                                        <li><a href="#">Waxhaw</a></li>
                                        <li><a href="#">Weddington</a></li>
                                        <li><a href="#">Matthews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a class="tel" href="tel:+1 808 7778899"
                                >+1 808 7778899</a
                            >
                        </li>
                        <li><a href="book.html" class="btn">Book now</a></li>
                        <li class="menu"><img src="img/menu.svg" alt="" /></li>

                        <li class="icon">
                            <a href="#">
                                <img src="img/header_icon_1.svg" alt="" />
                            </a>
                        </li>
                        <li class="icon">
                            <a href="#">
                                <img src="img/facebook.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </header>
                <div id="sideMenu" class="side__menu">
                    <div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li class="has__dropdown__rwd">
                                <a href="#">Services &rAarr;</a>
                                <div class="dropdown__container__rwd">
                                    <ul class="dropdown__rwd">
                                        <li>
                                            <a href="#">TV Wall Mounting</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >TV Dismount & Remount</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                >TV Shelves Installation</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has__dropdown__rwd">
                                <a href="#">Locations &rAarr;</a>
                                <div class="dropdown__container__rwd">
                                    <div
                                        class="dropdown__container__rwd__inner"
                                    >
                                        <div>
                                            <h3>Washington</h3>
                                            <ul class="dropdown__rwd">
                                                <li><a href="#">Seattle</a></li>
                                                <li>
                                                    <a href="#">Bellevue</a>
                                                </li>
                                                <li><a href="#">Redmond</a></li>
                                                <li><a href="#">Tacoma</a></li>
                                                <li>
                                                    <a href="#">Lakewood</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3>North Carolina</h3>
                                            <ul class="dropdown__rwd">
                                                <li>
                                                    <a href="#">Charlotte</a>
                                                </li>
                                                <li><a href="#">Monroe</a></li>
                                                <li>
                                                    <a href="#">Indian Trail</a>
                                                </li>
                                                <li>
                                                    <a href="#">Pineville</a>
                                                </li>
                                                <li><a href="#">Waxhaw</a></li>
                                                <li>
                                                    <a href="#">Weddington</a>
                                                </li>
                                                <li>
                                                    <a href="#">Matthews</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="close__menu">X</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="about">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Book now</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="about__text">
                    <h1>Book now</h1>
                </div>
            </div>
        </section>
        <div class="bg__book">
            <div class="container">
                <section class="find__your__city">
                    <h3 class="section__title section__title__sm">
                        Find your city
                    </h3>
                    <form>
                        <input
                            type="text"
                            placeholder="find your place by name or ZIP-code"
                        />
                        <button>
                            <img src="img/right_arrow.svg" alt="" />
                        </button>
                    </form>
                </section>

                <section class="section__tv">
                    <h3>What size is your TV?</h3>
                    <p>
                        Please select the size of your TV from the options
                        provided.
                    </p>

                    <div>
                        <button>Up to 60"</button>
                        <button>61" - 80"</button>
                        <button>Over 80"</button>
                    </div>
                </section>
                <section class="section__tv">
                    <h3>Do you need a wall mount for your TV?</h3>
                    <p>
                        If you already have a mount, fantastic! If not, we can
                        provide one.
                    </p>

                    <div class="section__tv__already">
                        <button>I have one already</button>
                        <button>
                            <img src="./img/fixed.svg" />
                            Fixed
                        </button>
                        <button><img src="./img/tiling.svg" />Tiling</button>
                        <button>
                            <img src="./img/full-motion.svg" />Full-motion
                        </button>
                    </div>
                </section>

                <section class="section__tv">
                    <h3>Select a wall type</h3>

                    <div>
                        <button>Drywall or woor</button>
                        <button>Brick or concrete</button>
                        <button>Stucco</button>
                        <button>Tile</button>
                    </div>
                </section>
                <div class="section__tv__main">
                    <div>
                        <section class="section__tv">
                            <h3>Can you help lift the TV?</h3>

                            <div>
                                <button>I will help</button>
                                <button>Need an assistant</button>
                            </div>
                        </section>
                        <section class="section__tv">
                            <h3>Extra services</h3>

                            <div>
                                <button>None</button>
                                <button>External cord hider</button>
                                <button>Install soundbar</button>
                                <button>Install wall shelf</button>
                            </div>
                        </section>
                    </div>
                    <div class="section__tv__card">
                        <div>
                            <h3>TV Wall Mounting</h3>
                            <ul>
                                <li>61" - 80"</li>
                                <li>Full Motion</li>
                                <li>Above a fireplace</li>
                                <li>Drywall or Wood</li>
                                <li>Need an assistant</li>
                                <li>External cord hider</li>
                            </ul>
                        </div>
                        <div>
                            <img src="./img/calendar.svg" />
                            <div>
                                <p>Sunday, September 29th</p>
                                <p>10:00 AM</p>
                            </div>
                        </div>

                        <div>
                            <img src="./img/location.svg" />
                            <div>
                                <p>56, f5, Santa Clara, CA Obama str. 75</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>Subtotal</p>

                                <h4>$415.00</h4>
                            </div>
                            <div>
                                <p>Tax Charge</p>

                                <h4>$42.33</h4>
                            </div>
                            <div>
                                <p>Estimated Total</p>

                                <h4>$457.33</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="section__tv">
                    <h3>Date & Time</h3>
                    <p>
                        Pick a date and time for your appointment, and we'll be
                        there.
                    </p>
                    <div class="section_day">
                        <button>
                            <h3>Sat</h3>
                            <p>Sep 28</p>
                        </button>
                        <button>
                            <h3>Sun</h3>
                            <p>Sep 29</p>
                        </button>
                        <button>
                            <h3>Mon</h3>
                            <p>Sep 30</p>
                        </button>
                        <button>
                            <h3>Tue</h3>
                            <p>Oct 01</p>
                        </button>
                        <button>
                            <h3>Wed</h3>
                            <p>Oct 02</p>
                        </button>
                    </div>
                    <div class="section_time">
                        <button>8:00AM</button>
                        <button>10:00AM</button>
                        <button>12:00PM</button>
                        <button>2:00PM</button>
                        <button>4:00AM</button>
                        <button>6:00AM</button>
                        <button>8:00AM</button>
                    </div>
                </section>

                <section class="find__your__city">
                    <h3 class="section__title section__title__sm">
                        Service Address
                    </h3>
                    <form>
                        <input type="text" placeholder="Address" />
                        <div class="address">Apt, Unit, Floor</div>
                        <button>
                            <img src="img/right_arrow.svg" alt="" />
                        </button>
                    </form>
                </section>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="footer__inner">
                    <p>MyWall © 2020-2024</p>
                    <ul>
                        <li><img src="img/footer (2).png" alt="" /></li>
                        <li><img src="img/footer (1).png" alt="" /></li>
                        <li><img src="img/footer (3).png" alt="" /></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
