<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="responsive.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <title>Document</title>
    </head>
    <body>
        <div id="blur"></div>
        <div class="bg__dark__blue">
            <div class="container">
                <header>
                    <a href="#">
                        <img src="img/logo.svg" alt="" />
                    </a>
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="has__dropdown">
                            <a href="services.html">Services</a>
                            <div class="dropdown__container">
                                <ul class="dropdown">
                                    <li><a href="#">TV Wall Mounting</a></li>
                                    <li>
                                        <a href="#">TV Dismount & Remount</a>
                                    </li>
                                    <li>
                                        <a href="#">TV Shelves Installation</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has__dropdown">
                            <a href="location.html">Locations</a>
                            <div class="dropdown__container">
                                <div>
                                    <h3>Washington</h3>
                                    <ul class="dropdown">
                                        <li><a href="#">Seattle</a></li>
                                        <li><a href="#">Bellevue</a></li>
                                        <li><a href="#">Redmond</a></li>
                                        <li><a href="#">Tacoma</a></li>
                                        <li><a href="#">Lakewood</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <h3>North Carolina</h3>
                                    <ul class="dropdown">
                                        <li><a href="#">Charlotte</a></li>
                                        <li><a href="#">Monroe</a></li>
                                        <li><a href="#">Indian Trail</a></li>
                                        <li><a href="#">Pineville</a></li>
                                        <li><a href="#">Waxhaw</a></li>
                                        <li><a href="#">Weddington</a></li>
                                        <li><a href="#">Matthews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a class="tel" href="tel:+1 808 7778899"
                                >+1 808 7778899</a
                            >
                        </li>
                        <li><a href="book.html" class="btn">Book now</a></li>
                        <li class="menu"><img src="img/menu.svg" alt="" /></li>

                        <li class="icon">
                            <a href="#">
                                <img src="img/header_icon_1.svg" alt="" />
                            </a>
                        </li>
                        <li class="icon">
                            <a href="#">
                                <img src="img/facebook.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </header>
                <div id="sideMenu" class="side__menu">
                    <div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li class="has__dropdown__rwd">
                                <a href="#">Services &rAarr;</a>
                                <div class="dropdown__container__rwd">
                                    <ul class="dropdown__rwd">
                                        <li>
                                            <a href="#">TV Wall Mounting</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >TV Dismount & Remount</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                >TV Shelves Installation</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has__dropdown__rwd">
                                <a href="#">Locations &rAarr;</a>
                                <div class="dropdown__container__rwd">
                                    <div
                                        class="dropdown__container__rwd__inner"
                                    >
                                        <div>
                                            <h3>Washington</h3>
                                            <ul class="dropdown__rwd">
                                                <li><a href="#">Seattle</a></li>
                                                <li>
                                                    <a href="#">Bellevue</a>
                                                </li>
                                                <li><a href="#">Redmond</a></li>
                                                <li><a href="#">Tacoma</a></li>
                                                <li>
                                                    <a href="#">Lakewood</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3>North Carolina</h3>
                                            <ul class="dropdown__rwd">
                                                <li>
                                                    <a href="#">Charlotte</a>
                                                </li>
                                                <li><a href="#">Monroe</a></li>
                                                <li>
                                                    <a href="#">Indian Trail</a>
                                                </li>
                                                <li>
                                                    <a href="#">Pineville</a>
                                                </li>
                                                <li><a href="#">Waxhaw</a></li>
                                                <li>
                                                    <a href="#">Weddington</a>
                                                </li>
                                                <li>
                                                    <a href="#">Matthews</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="close__menu">X</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="services__banner location__bg__inner">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">TV Mounting Charlotte, NC</a></li>
                </ul>
                <div class="location__banner__inner">
                    <h1>Locations</h1>
                    <div>
                        <div class="location__banner__inner__right">
                            <p>North Carolina</p>
                            <ul>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                            </ul>
                            <p>Washingthon</p>
                            <ul>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                                <li>Charlotte</li>
                            </ul>
                        </div>

                        <div class="location__banner__inner__left">
                            <h2>TV Mounting Service in Charlotte, NC</h2>
                            <p>
                                TV Mounting Service proudly serves Charlotte,
                                NC, offering professional TV mounting services
                                to enhance your home entertainment experience.
                                Our expert team ensures a secure and visually
                                appealing installation.
                            </p>
                            <h4>TV Mounting Service in Charlotte, NC</h4>
                            <ul>
                                <li>
                                    Expert Technicians: Our team is skilled in
                                    mounting all TV sizes and brands with
                                    precision.
                                </li>
                                <li>
                                    Safety and Security: We use high-quality
                                    mounting brackets and hardware for a secure
                                    installation.
                                </li>
                                <li>
                                    Customer Satisfaction: We prioritize your
                                    satisfaction with our exceptional service
                                    and attention to detail.
                                </li>
                            </ul>
                            <span
                                >Book your TV mounting service in Charlotte, NC
                                by calling us at 425-800-0208 today!</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="footer__inner">
                    <p>MyWall © 2020-2024</p>
                    <ul>
                        <li><img src="img/footer (2).png" alt="" /></li>
                        <li><img src="img/footer (1).png" alt="" /></li>
                        <li><img src="img/footer (3).png" alt="" /></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
